<page-content-wrapper>
  <page-section-wrapper display="column">
    <section-header
      >Overview

      <app-dropdown
        class="section-header-two break"
        (selectedItem)="listenForChangeInMapDropdown($event)"
        [dropdownList]="sampleDropdownList"
        placeholder="Monthly"
      >
      </app-dropdown>
    </section-header>

    <div class="card-list">
      <div *ngFor="let dashboard of dashboardsList" class="card-wrapper">
        <app-card-wrapper>
          <!-- section a -->
          <app-card-row rowDisplay="row">
            <!-- <loading-wrapper
            [hidden]="dashboardListIsLoading"
            [wrapperAnimation]="cardAnimation"
            [wrapperCount]="cardCount"
            [wrapperAppearance]="cardAppearance"
            [wrapperTheme]="{
              height: '2rem',
              width: '6rem',
              'border-radius': '6.13px',
              'background-color': '#f4f5f9'
            }"
          >
          </loading-wrapper> -->

            <span [hidden]="!dashboardListIsLoading" class="wallet-title">
              {{ dashboard.type }}
            </span>
          </app-card-row>

          <!-- section b -->
          <app-card-row rowDisplay="row">
            <!-- <loading-wrapper
            [hidden]="dashboardListIsLoading"
            [wrapperAnimation]="cardAnimation"
            [wrapperCount]="cardCount"
            [wrapperAppearance]="cardAppearance"
            [wrapperTheme]="{
              height: '2rem',
              width: '7rem',
              'border-radius': '6.13px',
              'background-color': '#f4f5f9'
            }"
          >
          </loading-wrapper> -->

            <span
              [hidden]="!dashboardListIsLoading"
              class="wallet-amount {{ dashboard?.class }}"
              >{{ dashboard.metric }}
            </span>
          </app-card-row>

          <!-- section c -->
          <app-card-row [hidden]="dashboardListIsLoading" rowDisplay="row">
            <!-- <loading-wrapper
            [wrapperAnimation]="cardAnimation"
            [wrapperCount]="cardCount"
            [wrapperAppearance]="cardAppearance"
            [wrapperTheme]="{
              height: '1rem',
              width: '4rem',
              'border-radius': '6.13px',
              'background-color': '#f4f5f9'
            }"
          >
          </loading-wrapper>

          <loading-wrapper
            [wrapperAnimation]="cardAnimation"
            [wrapperCount]="cardCount"
            [wrapperAppearance]="cardAppearance"
            [wrapperTheme]="{
              height: '1rem',
              width: '4rem',
              'margin-left': '1rem',
              'border-radius': '6.13px',
              'background-color': '#f4f5f9'
            }"
          >
          </loading-wrapper> -->
          </app-card-row>

          <app-card-row [hidden]="!dashboardListIsLoading" rowDisplay="row">
            <span
              *ngIf="!dashboard.trend"
              [class]="dashboardListIsLoading && 'wallet-trend down'"
            >
              <img
                [hidden]="!dashboardListIsLoading"
                src="../../../../../assets/icons/Iconly/Bold/Arrow - Down.svg"
                alt=""
              />
              {{ dashboard.trendMetric }}
            </span>

            <span *ngIf="dashboard.trend" class="wallet-trend up"
              ><img
                [hidden]="!dashboardListIsLoading"
                src="../../../../../assets/icons/Iconly/Bold/Arrow - Up.svg"
                alt=""
              />
              {{ dashboard.trendMetric }}
            </span>
          </app-card-row>
        </app-card-wrapper>
      </div>
    </div>
  </page-section-wrapper>

  <page-section-wrapper display="column">
    <section-header>
      <span class="section-header-one">
        Statistics

        <app-dropdown
          [dropdownList]="sampleDropdownList"
          placeholder=""
          actionText="Users"
          (selectedItem)="listenForChangeInDurationDropdown($event)"
        >
        </app-dropdown>

        <app-dropdown
          class="break"
          [dropdownList]="sampleDropdownList"
          placeholder="Company"
          actionText="Filter by"
          (selectedItem)="listenForChangeInDurationDropdown($event)"
        >
        </app-dropdown>

        <app-dropdown
          class="break"
          [dropdownList]="sampleDropdownList"
          placeholder="Amazon"
          actionText="Show"
          (selectedItem)="listenForChangeInDurationDropdown($event)"
        >
        </app-dropdown>
      </span>

      <app-dropdown
        class="section-header-two break"
        [dropdownList]="sampleDropdownList"
        placeholder="Yearly"
        actionText="Click me"
        (selectedItem)="listenForChangeInDurationDropdown($event)"
      >
      </app-dropdown>
    </section-header>

    <app-card-wrapper display="row">
      <app-card-row rowDisplay="row">
        <img
          class="dashboard-graph"
          src="../../../../../assets/icons/custom-icons/dashboard-graph.svg"
          alt=""
        />
      </app-card-row>

      <app-card-row class="graph-metrics one" rowDisplay="column">
        <div class="metric-content-wrapper">
          <h3 class="metric-content">55,000</h3>
          <p class="metric-legend">Total users</p>
        </div>

        <div class="metric-legend-wrapper">
          <div *ngFor="let metric of dashboardsGraphList" class="metric-legend">
            <img
              [class]="metric.class"
              src="../../../../../assets/icons/custom-icons/legend-icon.svg"
            />
            {{ metric.legend }}
          </div>
        </div>
      </app-card-row>

      <app-card-row class="graph-metrics two" rowDisplay="row">
        <div
          *ngFor="let metric of dashboardsGraphList"
          class="metric-content-wrapper"
        >
          <h3 class="metric-content {{ metric.class }}">
            {{ metric.amount }}
          </h3>
          <p class="metric-legend">{{ metric.legend }}</p>
        </div>
      </app-card-row>
    </app-card-wrapper>
  </page-section-wrapper>

  <page-section-wrapper display="column">
    <section-header
      >Location data

      <app-dropdown
        class="section-header-two break"
        (selectedItem)="listenForChangeInMapDropdown($event)"
        [dropdownList]="sampleDropdownList"
        placeholder="Monthly"
      >
      </app-dropdown>
    </section-header>

    <app-card-wrapper class="map-wrapper" display="row">
      <img src="../../../../../assets/icons/custom-icons/world.svg" alt="" />
    </app-card-wrapper>
  </page-section-wrapper>

  <page-section-wrapper>
    <app-card-wrapper class="viewership-wrapper">
      <section-header padding="false">Top Countries</section-header>

      <div class="countries-list">
        <div *ngFor="let users of dashboardCountriesList" class="viewership">
          <span class="user-country">
            <img
              src="../../../../../assets/icons/flags-list/{{ users.code }}.svg"
            />
            {{ users.country }}
          </span>

          <span>{{ users.users }}k</span>
        </div>
      </div>
    </app-card-wrapper>
  </page-section-wrapper>
</page-content-wrapper>
