
<body>
    <div class="container">
<!---------------------------------essolo logo ----------------------------------------------------- -->
        <img src="assets/images/Logo/ES Solo.svg"/>
<!---------------------------------essolo logo ----------------------------------------------------- -->
        
<!------------------------------------ header section ---------------------------------------------- -->
        <div class="content">
           <h5>Choose your default language</h5>
           <p>You can change this any time <br><span>from the settings</span></p>

 <!---------------------------------- end of header section ---------------------------------------- -->


<!------------------------------------- language bar section ----------------------------------------------->
<!--------------------------------------- outer cirle writeup section  ------------------------------------->
           <div class="language-bar">
                 <p class="left">FR</p>
                 <p class="top">PG</p>
                 <p class="right">EN</p>
                 <p class="bottom">ES</p>
 <!--------------------------------------- end of outer circle write up section  -------------------------->

<!-----------------------------------------subcircle writeup section  ------------------------------------->
           <div class="circle">
            <p class="left1">-</p>
            <p class="top1">|</p>
            <p class="right1">_</p>
            <p class="bottom1">|</p>
<!----------------------------------------- end of subcircle write up section  -------------------------->
<!-- -------------------------------- subcircle (middle circle) -------------------------------------- -->
               <div class="sub-circle">
                   <div class="reddot"></div>
               </div>
<!-- -------------------------------- subcircle (middle circle) ------------------------------------ -->
           </div>
        </div>
 <!-- ---------------------------language bar section ends here ----------------------------------- -->

<!-- -------------------------- login button ------------------------------------------------------ -->
           <button>Continue to login</button>
        </div>
<!-- -------------------------- login button ------------------------------------------------------ -->

    </div>
<!-- ------------------------------ essolo background image ----------------------------------------- -->
    <img class="essoloimage" src="assets/images/backgroundimg.png" /> 
<!-- ------------------------------ essolo background image ----------------------------------------- -->
</body>