<body>
    <div class="content">
<!-- -------------------- essolo logo ---------------------- -->
        <img class="pic" src="assets/images/Logo/ES Solo.svg"/>
<!-- -------------------- essolo logo ---------------------- -->

        <div class="info">
            <h6>Forgot Password</h6>
            <p>How do you want to reset your password?</p>

<!-- ------------------ medium for reseting paswword ------------------- -->
            <div class="col-1 dented">
                <div class="icon">
                <img src="assets/images/Light-Outline/Call.svg" width="14px"/>
            </div>
            <p>Via SMS<br><span>*********5894</span></p>
               
            </div>

            <div class="col-1 dented">
                <div class="icon">
                <img src="assets/images/Light-Outline/Message.svg" width="14px"/>
            </div>
            <p>Via Mail<br><span>*********du@gamail.com</span></p>
            </div>

            <div class="col-1 dented">
                <div class="icon">
                <img src="assets/images/Light-Outline/Shield Done.svg" width="14px"/>
            </div>
            <p>Via secrete recovery phrase<br><span>**** **** phrase</span></p>
            </div>
      <!-- ------------------ medium for reseting paswword ------------------- -->
     

      <!-- ----------------------- button to proceed ------------------------- -->
                               <button>Proceed</button>
        <!-- ----------------------- button to proceed ------------------------- -->  
        </div>
        
    </div>
    <!-- ------------------------ essolo background image ------------------------  -->
<img class="essoloimage" src="assets/images/backgroundimg.png" /> 
   <!-- ------------------------ essolo background image ------------------------  -->
</body>
