<div class="content-wrapper">
  <div class="content-box">
    <span class="content">
      <span class="content-legend">Name </span>
      <span class="content-info">{{ companyInfo?.name }} </span>
    </span>
    <span class="content-icon"></span>
  </div>

  <div class="content-box">
    <span class="content">
      <span class="content-legend">Email address </span>
      <span class="content-info">{{ companyInfo?.email }} </span>
    </span>
    <span class="content-icon"></span>
  </div>

  <div class="content-box">
    <span class="content">
      <span class="content-legend">Phone number </span>
      <span class="content-info">{{ companyInfo?.phoneNumber }} </span>
    </span>
    <span class="content-icon"></span>
  </div>

  <div class="content-box">
    <span class="content">
      <span class="content-legend">Location </span>
      <span class="content-info">{{ companyInfo?.location }} </span>
    </span>
    <span class="content-icon"> </span>
  </div>

  <div class="content-box">
    <span class="content">
      <span class="content-legend">Incorporated </span>
      <span class="content-info">{{ companyInfo?.incorporated }} </span>
    </span>
    <span class="content-icon">
      <img src="../../../../../../assets/icons/Iconly/Light/Calendar.svg" />
    </span>
  </div>

  <div class="content-box">
    <span class="content">
      <span class="content-legend">Registration number </span>
      <span class="content-info">{{ companyInfo?.registrationNumber }} </span>
    </span>
    <span class="content-icon"></span>
  </div>

  <div class="content-box">
    <span class="content">
      <span class="content-legend">Website </span>
      <span class="content-info">{{ companyInfo?.website }} </span>
    </span>
    <span class="content-icon"></span>
  </div>

  <div class="content-box">
    <span class="content">
      <span class="content-legend">Type </span>
      <span class="content-info">{{ companyInfo?.type }} </span>
    </span>
    <span class="content-icon">
      <img
        src="../../../../../../assets/icons/Iconly/Light/Arrow - Down 2.svg"
      />
    </span>
  </div>

  <div class="content-box">
    <span class="content">
      <span class="content-legend">Size </span>
      <span class="content-info">{{ companyInfo?.size }} employees </span>
    </span>
    <span class="content-icon"></span>
  </div>
</div>
