<app-page-wrapper
  pageMenuId="tickets"
  (pageWrapperSelectedRoute)="pageWrapperRouteListener($event)"
>
  <app-view-tickets
    (componentSelectedRoute)="componentRouteListener($event)"
    *ngIf="selectedSubMenuRoute === '/dashboard/tickets/view'"
  ></app-view-tickets>

  <app-add-tickets
    *ngIf="selectedSubMenuRoute === '/dashboard/tickets/add'"
  ></app-add-tickets>

  <app-overview-tickets
    *ngIf="selectedSubMenuRoute === '/dashboard/tickets/overview'"
  ></app-overview-tickets>

  <!-- <app-single-ticket
  *ngIf="selectedSubMenuRoute === '/dashboard/tickets/single-ticket'"
  > -->

  <app-single-ticket
  [componentData]="selectedComponentData"
  (closeChildPage)="componentRouteListener($event)"
    *ngIf="selectedSubMenuRoute == selectedComponentView" 
  >
  </app-single-ticket>
</app-page-wrapper>
