<body>
    <div class="content">
 <!-- ----------------- essolo logo ------------------------------------- -->
        <img src="assets/images/Logo/ES Solo.svg"/>
  <!-- ----------------- essolo logo --------------------------------------->
  
  <!-- -------------------header information ------------------ ------------->
        <div class="security-info">
            <h5>New device detected</h5>
            <p>You are requested to choose your security question<br>
                <span> and provide and answer to confirm it's you</span></p>
   <!-- -------------------header information ----------------------------- -->

 <!-- ------------------------- input div section ---------------------------- -->
            <div class="col-1">
                <img src="assets/images/Light-Outline/Password.svg" width="14px"/>
                <input type="text" placeholder="What is your Mother's Maiden name?"/>
            </div>

            <div class="col-1">
                <img src="assets/images/Light-Outline/Password.svg" width="14px"/>
            <input type="text" placeholder="Your answer"/>   
            </div>
 <!-- ------------------------- input div section ---------------------------- -->
    
    
 <!----------------------------- login button --------------------------  -->
            <button>Continue to login</button>
   <!----------------------------- login button --------------------------  -->
            
        </div>
        
    </div>
    <!-- --------------------- essolo background image ---------------- -->
<img class="essoloimage" src="assets/images/backgroundimg.png" /> 
  <!-- --------------------- essolo background image ---------------- -->
</body>
