<body>
    <div class="content">
<!-- ------------------- essolo logo -------------------------------- -->
        <img src="assets/images/Logo/ES Solo.svg"/>
 <!-- ------------------- essolo logo -------------------------------- -->

 <!-- --------------------- header information ----------------------- -->
        <div class="passw">
            <h5>Forgot Password</h5>
            <p>Enter the email address associated with your account<br>
                and we will send an OTP that you will use to reset your<br><span>password</span></p>
 <!-- --------------------- header information ------------------------------ -->


 <!-- ------------------------------- email bar ------------------------------ -->
            <div class="col-1 dented">
                <img src="assets/images/Light-Outline/Message.svg" width="14px"/>
                <input type="mail" placeholder="jameschindu@gmail.com"/>
            </div>
 <!-- ------------------------------- email bar ------------------------------------ -->

 <!-- --------------------------- send OTP bbutton -------------------------------------- -->
            <button>Send OTP</button>

 <!-- --------------------  white button (try another way)----------------------------------------- -->
             <div class="white">
                <button>Try another way</button>
            </div>
 <!-- --------------------  white button (try another way)----------------------------------------- -->
        </div>
        
    </div>
<!-- --------------------------- essolo background image --------------------------------------- -->
<img class="essoloimage" src="assets/images/backgroundimg.png" /> 
<!-- --------------------------- essolo background image --------------------------------------- -->


</body>
