<body>
    <div class="content">
<!-- ----------------------- essolo logo ----------------- -->
        <img src="assets/images/Logo/ES Solo.svg"/>
<!-- ----------------------- essolo logo ----------------- -->

 <!-- --------------------------- header info ----------------------------------------------- -->
        <div class="info">
            <h5>Forgot Password</h5>
            <p>Enter 12-words secret recovery phrase<br><span>to reset your password.</span></p>
<!-- --------------------------- header info ----------------------------------------------------- -->

<!-- ------------------------------------- write up div ----------------------------------------- -->

               <textarea class="writeup">Block Moses and Aaron and reset Password When you try to help</textarea>
            
   <!-- ------------------------------------- write up div ----------------------------------------- -->

<!-- --------------------- reset password button ------------------------- -->
            <button>Continue to reset password</button>
<!-- --------------------- reset password button ------------------------- -->

<!-- -------------------------white button ---------------------------------->
           <div class="white">
            <button>Try another way</button>
               </div>
<!------------------------ white button----------------------------------- -->

        </div>
        
    </div>
<!-- ---------------- essolo background image ---------------------- -->
<img class="essoloimage" src="assets/images/backgroundimg.png" /> 
<!-- ---------------- essolo background image ---------------------- -->
</body>
