<body>
    <div class="content">
<!-- ------------- essolo logo----------------------------------- -->
        <img src="assets/images/Logo/ES Solo.svg"/>
<!-- ------------- essolo logo----------------------------------- -->


        <div class="info">
<!-- ----------------- header information ----------------------- -->
            <h5>Verification</h5>
            <p>How do you want to receive your OTP?</p>
<!-- ----------------- header information ----------------------- -->

<!-- ---------------------- OTP message medium------------------- -->
            <div class="col-1 dented" >
                <div class="icon ">
                <img src="assets/images/Light-Outline/Call.svg" width="14px"/>
            </div>
            <p>Via SMS<br><span>*********5894</span></p>
            </div>

            <div class="col-1 dented">
                <div class="icon">
                <img src="assets/images/Light-Outline/Message.svg" width="14px"/>
            </div>
            <p>Via Mail<br><span>*********du@gamail.com</span></p>
            </div>
<!-- ----------------------------- OTP message medium ------------------------------ -->
           
<!-- ---------------------------- login button -------------------------------------- -->
            <button>Proceed</button>
<!-- ---------------------------- login button -------------------------------------- -->
            
        </div>
        
    </div>
<!-- ---------------------- essolo background image -------------------------------- -->
<img class="essoloimage" src="assets/images/backgroundimg.png" /> 
    <!-- ---------------------- essolo background image ---------------------------- -->

</body>
