<body>
    <div class="content">
<!-- -------------------- essolo background image ------------------------- -->
        <img class="pic" src="assets/images/Logo/ES Solo.svg"/>
  <!-- -------------------- essolo background image ------------------------- -->

        <div class="info">
            <h5>Reset Password</h5>
    <!-- ------------------------------------- password section ------------------ -->
            <div class="col-1">
                <img src="assets/images/Light-Outline/Lock.svg" width="16px"/>
                <input type="text" placeholder="New password"/>
                <img src="assets/images/Light-Outline/Hide.svg" width="16px"/>
            </div>

            <div class="col-1">
                <img src="assets/images/Light-Outline/Lock.svg" width="16px"/>
                <input type="email" placeholder="Confirm new password"/>
                <img src="assets/images/Light-Outline/Hide.svg" width="16px"/>
            </div>
 <!-- ------------------------------------- password section ------------------ -->

<!-- ------------------------ update password button --------------------------------- -->
            <button>Update Password</button>
 <!-- ------------------------ update password button --------------------------------- -->   
        </div>
        
    </div>
<!-- ----------------------- essolo background image ------------------------------ -->
<img class="essoloimage" src="assets/images/backgroundimg.png" /> 
<!-- ----------------------- essolo background image ------------------------------ -->
</body>