<body>


    <div class="container">
    <!-- ----------------------------- essolo logo -------------------------- -->
        <img src="assets/images/Logo/ES Solo.svg"/>
    <!-- ----------------------------- essolo logo -------------------------- -->
    
    <!-- ------------------------------- header information ----------------- -->
        <div class="code-info">
            <h5>Forgot Password</h5>
            <p>we have sent a code to your email address<br> 
                <span class="center">Enter the code to proceed</span></p>
    <!-- ------------------------------- header information ----------------- -->
    
    <!-- ------------------------------ OTP buttons ------------------------- -->
            <div class="codebar">
                <input type="text" placeholder="" value="" maxlength="1"/>
                <input type="text" placeholder="" value="" maxlength="1"/>
                <input type="text" placeholder="" value="" maxlength="1"/>
                <input type="text" placeholder="" value="" maxlength="1"/>
        </div>
    <!-- ------------------------------- OTP buttons ------------------------- -->
    
            <p>Don't get the code? <span class="red">Resend code</span></p>
    
    <!-- ---------------------------- verification button --------------------- -->
            <button>Verify and continue</button>
    <!-- ---------------------------- verification button --------------------- -->
    
    
     <!-- -------------------------white button ---------------------------------->
                                <div class="white">
                             <button>Try another way</button>
                                </div>
     <!------------------------ white button----------------------------------- -->
    
        </div>
    
        </div>
   
    <!-- --------------------- essolo background imagemn ------------------------- -->
    <img class="essoloimage" src="assets/images/backgroundimg.png" /> 
    <!-- --------------------- essolo background imagemn ------------------------- -->
    </body>
