
<div class="body">
    <div id="container">   
        <div class="header">
 <!-- ---------------------------------- essolo logo --------------------------------------------- -->
            <img src="assets/images/Logo/ES Solo.svg"/>
 <!-- ---------------------------------- essolo logo --------------------------------------------- -->
 
 <!-- -------------------------------- header section -------------------------------------------- -->
            <h3>Welcome to the MSIA<br> Administrator Portal</h3>
            <p>Press the button below to gain access</p>
  <!-- -------------------------------- header section -------------------------------------------- -->
  
 <!-- ---------------------------------- access button ------------------------------------------- -->
            <button>Continue to access</button>
 <!-- ---------------------------------- access button ------------------------------------------- -->
        </div>
 
        <!------------------------------------- end  header section  -------------------------------->         
        </div>
        
     <!---------------------------------------- essolo background image -------------------------------------->
    <img class="essoloimage" src="assets/images/backgroundimg.png" />
    <!---------------------------------------- essolo background image --------------------------------------> 
    </div>