// Import default styles and theme colours
@import "../../../assets/styles/main.scss";

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-backdrop {
  content: "";
  background: linear-gradient(111.69deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.025) 100.12%),
    #ffffff4d;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: none;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px #0000000A;
  min-height: 160px;
  min-width: 200px;
  position: relative;
  transform: none;
  opacity: 1;
  animation: open 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 1em 1.8rem;
  z-index: 10000;
  margin-bottom: 3rem;

  background: $essoloBodyColor;
}


@keyframes open {
  0% {
    opacity: 0;
    transform: translate3d(0, 25%, 0) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
